# My specific ignore files/folders
BackupScripts/
Notes.txt
Diggo/Resources/
Diggo/addons/
Diggo/Sounds/

# Godot-specific ignores
Diggo/.import/
Diggo/export.cfg
Diggo/export_presets.cfg

# Mono-specific ignores
Diggo/.mono/
Diggo/data_*/
