$DIGGO_FOLDER_PATH = Diggo

# My specific ignore files/folders
BackupScripts/
Notes.txt
$DIGGO_FOLDER_PATH/Resources/
$DIGGO_FOLDER_PATH/addons/
$DIGGO_FOLDER_PATH/Sounds/

# Godot-specific ignores
$DIGGO_FOLDER_PATH/.import/
$DIGGO_FOLDER_PATH/export.cfg
$DIGGO_FOLDER_PATH/export_presets.cfg

# Mono-specific ignores
$DIGGO_FOLDER_PATH/.mono/
$DIGGO_FOLDER_PATH/data_*/
